In [18]:
import requests
import requests 
import json
import os
from dotenv import load_dotenv
import pandas as pd
from pandas import json_normalize
import time
import os
from dotenv import load_dotenv
import json
import requests
import re
load_dotenv()
from pandas import json_normalize
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sns
from seaborn import violinplot
import numpy as np
import plotly.express as px

In [65]:
cities = ["Asturias","Badajoz","Barcelona","Bilbao","Burgos","Ceuta","Córdoba","El Hierro",
"Fuerteventura","Girona","Gran Canaria","Granada","Huesca","Ibiza","Jerez","La Gomera","La Palma","Lanzarote",
"León","Logroño-Agoncillo","Madrid","Málaga","Melilla","Menorca","Murcia","Palma de Mallorca","Pamplona",
"Reus","Sabadell","Salamanca","San Sebastián","Santander","Santiago","Sevilla","Son Bonet","Tenerife","Valencia",
"Valladolid","Vigo","Vitoria","Zaragoza"]

In [84]:
for i in cities:
    url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/ES/EUR/es-ES/"

    querystring = {"query":"madrid"}

    headers = {
        'x-rapidapi-key': "c5803f22cdmsh54915af99b5f2f1p13e384jsnedae4abd1de2",
        'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com"
        }

    response = requests.request("GET", url, headers=headers, params=querystring).json()

response

{'Places': [{'PlaceId': 'MAD-sky',
   'PlaceName': 'Madrid',
   'CountryId': 'ES-sky',
   'RegionId': '',
   'CityId': 'MADR-sky',
   'CountryName': 'España'}]}

In [85]:
type(response)

dict

In [86]:
aeropuerto = json_normalize(response.get("Places"))

In [87]:
aeropuerto = aeropuerto[aeropuerto["CountryName"] == "España"]
aeropuerto

   PlaceId PlaceName CountryId RegionId    CityId CountryName
0  MAD-sky    Madrid    ES-sky           MADR-sky      España

In [91]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsedates/v1.0/ES/EUR/es-ES/MAD-sky/LOND-sky/2021-05-15"

querystring = {"inboundpartialdate":"2021-05-12"}

headers = {
    'x-rapidapi-key': "c5803f22cdmsh54915af99b5f2f1p13e384jsnedae4abd1de2",
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com"}

response = requests.request("GET", url, headers=headers).json()

In [92]:
response

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 39,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [1816],
    'OriginId': 67652,
    'DestinationId': 65655,
    'DepartureDate': '2021-05-15T00:00:00'},
   'QuoteDateTime': '2021-05-11T13:29:00'}],
 'Carriers': [{'CarrierId': 1816, 'Name': 'Air Europa'}],
 'Places': [{'Name': 'Londres Gatwick',
   'Type': 'Station',
   'PlaceId': 65655,
   'IataCode': 'LGW',
   'SkyscannerCode': 'LGW',
   'CityName': 'Londres',
   'CityId': 'LOND',
   'CountryName': 'Reino Unido'},
  {'Name': 'Madrid',
   'Type': 'Station',
   'PlaceId': 67652,
   'IataCode': 'MAD',
   'SkyscannerCode': 'MAD',
   'CityName': 'Madrid',
   'CityId': 'MADR',
   'CountryName': 'España'}],
 'Currencies': [{'Code': 'EUR',
   'Symbol': '€',
   'ThousandsSeparator': '.',
   'DecimalSeparator': ',',
   'SymbolOnLeft': False,
   'SpaceBetweenAmountAndSymbol': True,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}],
 'Dates': {'OutboundDates': [{'PartialDate': '2021-05-15',
    'Price': 39,
    'QuoteDateTime': '2021-05-11T13:29:00',
    'QuoteIds': [1]}]}}

In [93]:
precio = json_normalize(response.get("Quotes"))

In [94]:
precio

,QuoteId,MinPrice,Direct,QuoteDateTime,OutboundLeg.CarrierIds,OutboundLeg.OriginId,OutboundLeg.DestinationId,OutboundLeg.DepartureDate
0,1,39,True,2021-05-11T13:29:00,[1816],67652,65655,2021-05-15T00:00:00

In [95]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browseroutes/v1.0/ES/EUR/es-ES/MAD-sky/LOND-sky/2021-05-15"

querystring = {"inboundpartialdate":"2021-05-12"}

headers = {
    'x-rapidapi-key': "c5803f22cdmsh54915af99b5f2f1p13e384jsnedae4abd1de2",
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com"}

response = requests.request("GET", url, headers=headers).json()

In [96]:
response

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 39,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [1816],
    'OriginId': 67652,
    'DestinationId': 65655,
    'DepartureDate': '2021-05-15T00:00:00'},
   'QuoteDateTime': '2021-05-11T13:29:00'}],
 'Carriers': [{'CarrierId': 1816, 'Name': 'Air Europa'}],
 'Places': [{'Name': 'Londres Gatwick',
   'Type': 'Station',
   'PlaceId': 65655,
   'IataCode': 'LGW',
   'SkyscannerCode': 'LGW',
   'CityName': 'Londres',
   'CityId': 'LOND',
   'CountryName': 'Reino Unido'},
  {'Name': 'Madrid',
   'Type': 'Station',
   'PlaceId': 67652,
   'IataCode': 'MAD',
   'SkyscannerCode': 'MAD',
   'CityName': 'Madrid',
   'CityId': 'MADR',
   'CountryName': 'España'}],
 'Currencies': [{'Code': 'EUR',
   'Symbol': '€',
   'ThousandsSeparator': '.',
   'DecimalSeparator': ',',
   'SymbolOnLeft': False,
   'SpaceBetweenAmountAndSymbol': True,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}],
 'Routes': [{'Price': 39,
   'QuoteDateTime': '2021-05-11T13:29:00',
   'OriginId': 67652,
   'DestinationId': 65655,
   'QuoteIds': [1]}]}

In [98]:
precio2 = json_normalize(response.get("Quotes"))
precio2

,QuoteId,MinPrice,Direct,QuoteDateTime,OutboundLeg.CarrierIds,OutboundLeg.OriginId,OutboundLeg.DestinationId,OutboundLeg.DepartureDate
0,1,39,True,2021-05-11T13:29:00,[1816],67652,65655,2021-05-15T00:00:00

In [101]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/ES/EUR/es-ES/LOND-sky/MAD-sky/2021-05-15"

querystring = {"inboundpartialdate":"2021-05-12"}

headers = {
    'x-rapidapi-key': "c5803f22cdmsh54915af99b5f2f1p13e384jsnedae4abd1de2",
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com"}

response = requests.request("GET", url, headers=headers).json()

In [102]:
precio3 = json_normalize(response.get("Quotes"))
precio3

,QuoteId,MinPrice,Direct,QuoteDateTime,OutboundLeg.CarrierIds,OutboundLeg.OriginId,OutboundLeg.DestinationId,OutboundLeg.DepartureDate
0,1,45,False,2021-05-11T06:06:00,[1090],82398,67652,2021-05-15T00:00:00
1,2,75,True,2021-05-11T06:06:00,[1816],65655,67652,2021-05-15T00:00:00