In [7]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np
import time

In [12]:
def vuelazos(ciudad_ida,ciudad_vuelta,fecha_ida,fecha_vuelta):
    
    dicc = {"Alicante":"ALC","Almeria":"LEI","Badajoz":"BJZ","Barcelona":"BCN","Bilbao":"BIO","Burgos":"RGS","Castellon":"CDT",
    "Cordoba":"ODB","San_Sebastián":"EAS","Gerona":"GRO","Granada":"GRX","Fuerteventura":"FUE","Huesca":"HSK","Ibiza":"IBZ","Jerez":"XRZ",
    "Lanzarote":"ACE","Gran_Canaria":"LPA","La_Coruña":"LCG","La_Gomera":"GMZ","Leon":"LEN","Logroño":"RJL","Albacete":"ABC",
    "Madrid":"MAD","Malaga":"AGP","Melilla":"MLN","Menorca":"MAH","Murcia":"MJV","Asturias":"OVD","Mallorca":"PMI","La_Palma":"SPC",
    "Pamplona":"PNA","Reus":"REU","Sabadell":"QSA","Salamanca":"SLM","Santiago_de_Compostela":"SCQ","Santander":"SDR","Sevilla":"SVQ","Tenerife_Norte":"TFN",
    "Tenerife_Sur":"TFS","Valencia":"VLC","Valladolid":"VLL","El_Hierro":"VDE","Vigo":"VGO","Vitoria":"VIT","Zaragoza":"ZAZ"
           }
    
    options =  webdriver.ChromeOptions()
    options.add_argument('--start-maximized')
    options.add_argument('--disable-extensions')

    driver = webdriver.Chrome("./chromedriver")
    URL = 'https://www.vuelosbaratos.es/Buscar/'
    driver.get(URL + dicc.get(f'{ciudad_ida}')+'-'+dicc.get(f'{ciudad_vuelta}')+'/'+ f'{fecha_ida}'+'/'+f'{fecha_vuelta}'+'/ES/')
    time.sleep(3)
    
    # Precio Vuelos
    precio = driver.find_elements_by_class_name("ResultPrice")

    precios = []
    for i in precio[::2]:
        precios.append(i.text)

    precios[:3]

    ## Salida Vuelos

    fecha = driver.find_elements_by_class_name("groupDetailsCell")
    fechass = []
    for i in fecha:
        fechass.append(i.text)
    
    fechas = []
    for i in fechass:
        i = i[-5:]
        fechas.append(i)

    salida = []
    for i in fechas[::2]:
        salida.append(i)   

    salida_ida = []
    for i in salida[::2]:
        i = i.replace("\n"," ")
        salida_ida.append(i)

    salida_vuelta = []
    for i in salida[1::2]:
        i = i.replace("\n"," ")
        salida_vuelta.append(i)

    llegada = []
    for i in fechas[1::2]:
        llegada.append(i)

    llegada_ida = []
    for i in llegada[::2]:
        i = i.replace("\n"," ")
        llegada_ida.append(i)

    llegada_vuelta = []
    for i in llegada[1::2]:
        i = i.replace("\n"," ")
        llegada_vuelta.append(i)
    
    df = pd.DataFrame(list(zip(precios,salida_ida,llegada_ida,salida_vuelta,llegada_vuelta)), columns = ['Precio',f'Salida_{ciudad_ida}',f'Llegada_{ciudad_vuelta}',f'Salida_{ciudad_vuelta}',f'Llegada_{ciudad_ida}'])
    
    return df

In [13]:
vuelazos("Madrid","Malaga","2021-5-18","2021-5-25")

   Precio Salida_Madrid Llegada_Malaga Salida_Malaga Llegada_Madrid
0   101 €         11:30          12:45         17:35          18:55
1    92 €         11:30          12:45         17:35          18:55
2   134 €         11:30          12:45         13:25          14:45
3   147 €         11:30          12:45         12:00          13:30
4   178 €         07:30          23:30         17:35          18:55
5   180 €         19:00          14:10         17:35          18:55
6   184 €         10:15          14:10         17:35          18:55
7   184 €         10:15          23:30         17:35          18:55
8   184 €         15:10          09:05         17:35          18:55
9   185 €         11:30          12:45         14:55          20:05
10  186 €         07:30          23:30         12:00          13:30
11  188 €         07:30          14:10         17:35          18:55
12  189 €         10:15          16:55         17:35          18:55
13  189 €         15:10          23:30         17:35          18:55
14  193 €         10:15          14:10         12:00          13:30
15  193 €         10:15          23:30         12:00          13:30
16  194 €         11:30          12:45         09:50          20:05
17  196 €         07:30          14:10         12:00          13:30
18  196 €         11:30          23:30         17:35          18:55
19  197 €         15:10          09:05         12:00          13:30
20  198 €         10:15          16:55         12:00          13:30
21  199 €         11:30          12:45         07:00          13:25
22  202 €         15:10          23:30         12:00          13:30
23  202 €         11:30          12:45         07:00          20:05
24  204 €         11:30          23:30         12:00          13:30