In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np
import time

In [2]:
options =  webdriver.ChromeOptions()
options.add_argument('--start-maximized')
options.add_argument('--disable-extensions')

driver = webdriver.Chrome("./chromedriver")

In [3]:
driver.get('https://www.vuelosbaratos.es/Buscar/MAD-BCN/2021-5-18/2021-5-25/ES/')
time.sleep(3)

In [4]:
'''WebDriverWait(driver, 5)\
    .until(EC.element_to_be_clickable((By.CSS_SELECTOR,
                                      'button.Button-No-Standard-Style.close.inside.darkIcon ')))\
    .click()'''

"WebDriverWait(driver, 5)    .until(EC.element_to_be_clickable((By.CSS_SELECTOR,\n                                      'button.Button-No-Standard-Style.close.inside.darkIcon ')))    .click()"

## Precio Vuelos

In [5]:
precio = driver.find_elements_by_class_name("ResultPrice")

In [6]:
precios = []
for i in precio[::2]:
    precios.append(i.text)

In [7]:
precios[:3]

['83 €', '83 €', '84 €']

## Salida Vuelos

In [8]:
fecha = driver.find_elements_by_class_name("groupDetailsCell")

In [9]:
fechass = []
for i in fecha:
    fechass.append(i.text)

In [10]:
fechas = []
for i in fechass:
    i = i[-5:]
    fechas.append(i)

In [12]:
salida = []
for i in fechas[::2]:
    salida.append(i)

In [13]:
salida_ida = []
for i in salida[::2]:
    i = i.replace("\n"," ")
    salida_ida.append(i)

In [21]:
prueba = salida_ida[-1]

In [15]:
salida_vuelta = []
for i in salida[1::2]:
    i = i.replace("\n"," ")
    salida_vuelta.append(i)

In [16]:
llegada = []
for i in fechas[1::2]:
    llegada.append(i)

In [17]:
llegada_ida = []
for i in llegada[::2]:
    i = i.replace("\n"," ")
    llegada_ida.append(i)

In [18]:
llegada_vuelta = []
for i in llegada[1::2]:
    i = i.replace("\n"," ")
    llegada_vuelta.append(i)

In [19]:
df = pd.DataFrame(list(zip(precios,salida_ida,llegada_ida,salida_vuelta,llegada_vuelta)), columns = ['Precio','Salida_ida','Llegada_ida','Salida_vuelta','Llegada_vuelta'])
df

   Precio Salida_ida Llegada_ida Salida_vuelta Llegada_vuelta
0    83 €      07:30       08:55         18:40          20:05
1    83 €      07:30       08:55         18:40          20:05
2    84 €      07:30       08:55         20:30          22:05
3    90 €      07:30       08:55         11:50          13:25
4    90 €      19:00       07:55         20:30          22:05
5    92 €      07:30       08:55         11:55          18:10
6    93 €      10:15       07:55         20:30          22:05
7    93 €      11:30       12:50         10:35          12:00
8    95 €      07:30       08:55         10:35          12:00
9    96 €      10:15       07:55         18:40          20:05
10   97 €      19:00       07:55         11:50          13:25
11   98 €      15:10       16:35         20:30          22:05
12   99 €      15:10       16:35         18:40          20:05
13   99 €      11:30       12:50         18:40          20:05
14   99 €      11:30       12:50         20:30          22:05
15  101 €      10:15       07:55         11:50          13:25
16  101 €      11:30       12:50         11:55          18:10
17  101 €      07:30       08:55         11:55          13:45
18  105 €      11:30       12:50         11:50          13:25
19  105 €      10:15       07:55         10:35          12:00
20  107 €      11:30       12:50         09:05          10:30
21  107 €      11:30       12:50         16:55          18:20
22  107 €      11:30       12:50         13:30          14:55
23  107 €      11:30       12:50         07:15          08:40
24  107 €      11:30       12:50         09:35          11:00

In [23]:
dicc = {"Alicante":"ALC","Almería":"LEI","Badajoz":"BJZ","Barcelona":"BCN","Bilbao":"BIO","Burgos":"RGS","Castellon":"CDT",
"Cordoba":"ODB","San_Sebastián":"EAS","Gerona":"GRO","Granada":"GRX","Fuerteventura":"FUE","Huesca":"HSK","Ibiza":"IBZ","Jerez":"XRZ",
"Lanzarote":"ACE","Gran_Canaria":"LPA","La_Coruña":"LCG","La_Gomera":"GMZ","Leon":"LEN","Logroño":"RJL","Albacete":"ABC",
"Madrid":"MAD","Malaga":"AGP","Melilla":"MLN","Menorca":"MAH","Murcia":"MJV","Asturias":"OVD","Mallorca":"PMI","La_Palma":"SPC",
"Pamplona":"PNA","Reus":"REU","Sabadell":"QSA","Salamanca":"SLM","Santiago_de_Compostela":"SCQ","Santander":"SDR","Sevilla":"SVQ","Tenerife_Norte":"TFN",
"Tenerife_Sur":"TFS","Valencia":"VLC","Valladolid":"VLL","El_Hierro":"VDE","Vigo":"VGO","Vitoria":"VIT","Zaragoza":"ZAZ"}

In [24]:
ciudad_ida = "Alicante"
salida = dicc.get(f'{ciudad_ida}')
print(salida)

ALC